<div class="favorite_title">
<h2 style=" font-size: 35px"class="main"> Tes spots préférés: </h2>
</div>
<div class="cards_favorite">
  <% @favorite_places.each do | favoriteplace | %>
  <div class="info_place_favorite">
    <%= link_to place_path(favoriteplace.place, activity: "#{favoriteplace.place.activities.first.name}"), class: "text-decoration-none" do   %>
    <h2 class="header-activity__<%= favoriteplace.place.activities.first.name %>">

    <%= favoriteplace.place.name %>
    </h2>
    <% end %>
    <p style="font-weight: bold"> Photos </p>
    <%= cl_image_tag favoriteplace.place.pictures, crop: :fill, class: "pictureparcfavorite"%>
    <p style="font-weight: bold"> Informations pratiques </p>
    <div class="d-flex" style="max-height: 3em !important;">
      <i class="fas fa-map-marker-alt icons_favorite" id="marker_color"></i>
      <p><%= favoriteplace.place.address %></p>
    </div>
    <div class="d-flex">
      <i class="fas fa-map-signs icons_favorite" id="sign_color"></i> <p>
      <%= favoriteplace.place.accessibility %></p>
    </div>
    <div class="d-flex">
  <i class="far fa-clock icons_favorite" id="schedules_color"></i> <p> <%= favoriteplace.place.schedules %></p>
  </div>


    <div>
       <%= link_to favorites_place_path(favoriteplace), method: :delete do %>
    <p><span class="droite"><i class="fas fa-heart icons_heart" id="heart_color"></i></span></p>
    <% end %>

      <p><span class="fb-share-button"
        data-href="<%= favorites_places_url(@place) %>"
      data-layout="button_count"></span></p>
    </div>
  </div>
  <% end %>
  <!-- <div class="fb_favorite">
    <p><span class="gauche">partie à gauche</span><span class="droite">partie à droite</span>partie au centre</p>
  </div> -->
</div>
