          <div class="bar">
            <div class="cards" >
              <%= check_box_tag :Parc, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'park.png'%>)" for="Parc" id="Parc">  <p class="activity-title">Parc</p>
              </label>
              <%= check_box_tag :Football, nil, false, class: "card-choice hide" %>
              <label class="card-category" style=" background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'football.png'%>)" for="Football" id="Football">
                <p class="activity-title">Foot</p>
              </label>
              <%= check_box_tag :Volleyball, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'volleyball.png'%>)" for="Volleyball" id="Volleyball">
                <p class="activity-title">Volleyball</p>
              </label>
              <%= check_box_tag :Basketball, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'basket.png'%>)" for="Basketball" id="Basketball">
                <p class="activity-title">Basket</p>
              </label>
              <%= check_box_tag :Pingpong, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'ping-pong.png'%>)" for="Pingpong" id="Pingpong">
                <p class="activity-title">Pingpong</p>
              </label>
              <%= check_box_tag :Petanque, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'petanque.png'%>)" for="Petanque" id="Petanque">
                <p class="activity-title">Pétanque</p>
              </label>
              <%= check_box_tag :Skatepark, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'skateboard.png'%>)" for="Skatepark" id="Skatepark">
                <p class="activity-title">Skatepark</p>
              </label>
              <%= check_box_tag :Fitness, nil, false, class: "card-choice hide" %>
              <label class="card-category" style="background-position: center;
                background-size: cover; background-image: url(<%= asset_path 'fitness.png'%>)" for="Fitness" id="Fitness">
                <p class="activity-title">Fitness</p>
              </label>
            </div>
          </div>
        </div>
