<div
  id="map"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>" class="map_homepage">
</div>
<div class="sentence box">
  Découvrez les meilleurs spots de
  <ul class="swap">
    <li style="background-color: #FFDF34">Volleyball</li>
    <li style="background-color: #F73A6A">Football</li>
    <li style="background-color: #00E3BC">Fitness</li>
    <li style="background-color: #605BFF">Skateboard</li>
    <li style="background-color: #F6A854">Basketball</li>
    <li style="background-color: #B163EF">Ping-pong</li>
    <li style="background-color: #73ACF1">Pétanque</li>
    <li style="background-color: #B2E917">Promenade</li>
  </ul>en extérieur !
</div>
<div class="search-bar">
  <%= form_tag places_path, method: :get do %>
  <div class="form-row address_form white-form" id="geocoder">
    <div class="col-7">
      <%= text_field_tag :address, params[:address], class: "form-control perso-form form-no-border", placeholder: "Enter your address", id: "place_address" %>
    </div>
    <div class="col-3">
      <select class="form-control form-no-border" id="sel1" <%= text_field_tag :radius, params[:radius]%>>
        <option>+/- 1 km</option>
        <option>+/- 2 km</option>
        <option>+/- 3 km </option>
        <option>+/- 4 km</option>
      </select>
    </div>
    <div class="col-2" id='heightmax'>
      <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
      </button>
    </div>
  </div>
</div>
<%= render "sport"  %>
<% end %>
<h2 id="homepage">Pourquoi utiliser Spout ?</h2>
<div class="row" id="Topspace">
  <div class="col-md-4">
    <div class="col-md-8 white-card">
      <%= image_tag "effeicacité.svg", class: "img-fluid", id: "effeicacite" %>
      <h2>Efficacité</h2>
      <br>
      Ne perdez plus de temps à faire des recherches interminables et ennuyeuses
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="col-md-8 white-card">
      <%= image_tag "simplifier.svg", class: "img-fluid illustration2"%>
      <h2>Simplicité</h2>
      <br>
    En un clic, accédez à toutes les informations qu’il vous faut et repérez vous grâce à la map interactive      </div>
  </div>
  <div class="col-md-4 ">
    <div class="col-md-8 white-card">
      <%= image_tag "explorer.svg", class: "img-fluid illustration"%>
      <h2>Découverte</h2>
      <br>
      Explorez votre ville et trouvez les meilleurs spots de sport en libre accès
    </div>
  </div>
</div>
