<div
  id="map"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>" class="map_homepage">
</div>
<div class="text_homepage">
  <h1> Découvrez les meilleurs spots de Volley en extérieur </h1>
  <form>
    <div class="search-radius">
    <div class="form-row address_form height-max" id="geocoder">
      <div class="col-7">
        <%= form_tag places_path, method: :get do %>
        <%= text_field_tag :address, params[:address], class: "form-control perso-form", placeholder: "Enter your address", id: "place_address" %>
      </div>
      <div class="col-3">
        <select class="form-control" id="sel1" <%= text_field_tag :radius, params[:radius]%>>
          <option>+/- 1 km</option>
          <option>+/- 2 km</option>
          <option>+/- 3 km </option>
          <option>+/- 4 km</option>
        </select>
      </div>
    <div class="col-2">
      <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
      </button>
    </div>
    </div>
  </div>
</form>
<% end %>
</div>
<!-- <div class="container absolute" id="geocoder">
-->
