<div class="">
  <!--   <div class="container2"> -->
<!--   <div class="row reviewlayout">
    <div>
      <%= cl_image_tag (current_user.avatar), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
    <div class="username">
      <%= current_user.username %>

    </div>

  </div> -->
  <div id="avis-container">
    <div class="avis">
      <h4> Donnez nous votre avis ! </h4>
      <p> Vos avis nous aide à ameliorer votre experience sur Spout ! </p>
    </div>
    <div class="contenu">
      <%= simple_form_for([ place, review ], remote: true) do |form| %>
      <%= form.input :content, as: :text, label: false %>
    </div>
    <div>
    </div>
    <div class="rate">
      <%= form.radio_button :rating, 5 %>
      <label for="review_rating_5" title="text">5 stars</label>
      <%= form.radio_button :rating, 4 %>
      <label for="review_rating_4" title="text">4 stars</label>
      <%= form.radio_button :rating, 3 %>
      <label for="review_rating_3" title="text">3 stars</label>
      <%= form.radio_button :rating, 2 %>
      <label for="review_rating_2" title="text">2 stars</label>
      <%= form.radio_button :rating, 1 %>
      <label for="review_rating_1" title="text">1 stars</label>
    </div>
    <div class="bouton">
     <%= form.button :submit,"Publier", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>

</div>
