
<div class="card-product">

<%= cl_image_tag (current_user.avatar), class: "avatar-card" %>

  <div class="card-product-infos stars">
    <h1> <%= current_user.username  %> </h1>
     <h6><%= review.created_at %></h6>
     <h2><%= "â­" * (review.rating || 0)  %></h2>
    <p><%= review.content %></p>

  </div>
</div>


